version: '3'
services:
  storage:
    container_name: storage
    build: .
    ports:
      - "8093:8080"
    restart: unless-stopped
    environment:
      STORAGE_ROOT: /storage_root
      BUCKET_CREATE_KEY: <KEY_HERE>
      BUCKET_UPLOAD_KEY: <KEY_HERE>
    volumes:
      - storage_data:/storage_root
volumes:
  storage_data: